%% -*- mode:erlang, erlang-indent-level: 4;indent-tabs-mode: nil -*-
{ping, <<"SELECT 'pong' AS ping LIMIT 1">>}.

%% Create file (returns data_id)
{insert_file,
 <<"SELECT create_file(bucket, name_id)">>}.

%% Insert a chunk
{insert_file_chunk,
 <<"INSERT INTO file_chunks (data_id, chunk, data) VALUES ($1, $2, $3)">>}.

%% Mark a data element done
{update_file_data_done,
 <<"UPDATE file_data SET complete = 'true', chunk_count = $1, hash_md5 = $2, hash_sha512 = $3">>}.

%% Get file information by name and bucket
{find_file,
 <<"SELECT file_names.data_id, complete, chunk_count, hash_md5, hash_sha512 FROM file_names"
   "INNER JOIN file_data ON file_names.data_id = file_data.data_id>>"

%% Get chunk by id
{find_file_chunk,
 <<"SELECT data FROM file_chunks WHERE (data_id = $1 AND chunk = $2)">>}.
